<header>
  <div class="shop_name">AndreyShop :)</div>
  <div>

    {% if _SESSION.user %}
      <a href="/basket" class="link_button">
        <button>Корзина</button>
      </a>

      <a href="/user" class="link_button">
        <button>Личная страница</button>
      </a>

      <a href="/orders" class="link_button">
        <button>Заказы</button>
      </a>

      <a href="/admin" class="link_button">
        <button>Админка</button>
      </a>

      <form action="" method="post" style="display: inline-block;">
        <input type="submit" name="logout" value="Выйти" style="width: auto;">
      </form>
    {% else %}
      <a href="/user/login" class="link_button">
        <button>Войти</button>
      </a>

      <a href="/user/register" class="link_button">
        <button>Регистрация</button>
      </a>
    {% endif %}

  </div>
</header>